# Version Control
.svn

# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/
/tags
.netbeans.xml
logs/*
!logs/.gitkeep

# Compass/SASS/SCSS
.sass-cache

# Other
node_modules

/vendor/
/release/
sassdoc
scss-lint-report.xml
config.codekit

## Wordpress config
## The idea is to version as little as possible:
## - a theme you are working on (mytheme)
## - your custom plugins


# This is the MariaDB data folder
/data/*
!/data/.gitkeep

# Wordpress files
wordpress/*
!/wordpress/.gitkeep

# Tune the rest to your needs...

!wordpress/wp-content/

wordpress/wp-content/*
!wordpress/wp-content/themes/
!wordpress/wp-content/plugins/

# Version only your theme...
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/natulu-theme

# ...and your plugins
wordpress/wp-content/plugins/*
#!wordpress/wp-content/plugins/myplugin.php
#!wordpress/wp-content/plugins/myplugin
